body{
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #2E3440;
    text-align: center;
}

main{
    padding-top: 1.5rem;
}

.taskbar {
    width: auto;
    height: 3rem;
    background-color: #856C5A;
    padding-left: 115;
    display: flex;
    align-items: center;
}

.taskbar li{
    margin-right: 50px;
    color: white;
}

ul{
    list-style: none;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid_item {
    max-width: 500px;
    margin: 0 auto;
}

.textbox_border_nf{
    max-width: 500px;
    margin: 0 auto;
    background-color: #55627c;
    padding: 20px;
    border-radius: 8px;

}
.textbox_border {
    background-color: #55627c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textbox_border button {
    display: block;
    margin: 0 auto;
}

.textbox_border_nf button {
    display: block;
    margin: 0 auto;
}

.textbox {
    text-align: left;
    line-height: 2em;
}

.textbox h3 {
    text-align: center;
}


.login_input {
    width: 100%;
    padding: 4px;
    text-align: left;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

button {
    background-color: #52bd52;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    filter: brightness(0.8);
}

.mainrestodiv {
    width: 35%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #8f8f8f;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}


.restodiv
{
    border: 2px solid #ffffff;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

}

th {
    background-color: #313131;
}

.column_CRR{
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.create_restoreview{
    display: flex;
    content: "";
    flex-direction: row;
    margin: 0 10px;
    text-align: center;
}

.mainstyle {
    width: 250px; 
    height: 40px; 
    padding: 10px; 
    font-size: 16px;    
    margin-bottom: 10px; 
    cursor: pointer; 
    border: none; 
    background-color: #52bd52; 
    color: #fff; 
    border-radius: 5px; 
}
.mainstyle:hover {
    background-color: #3c6444; 
}

.button_container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.button_container form {
    margin: 5px;
}